@{
    ViewBag.Title = "Employee Tracker";
}

<body>
    <employee-tracker-app>
        <div class="splash">
            <div class="color-line"></div>
            <div class="splash-title">
                <h1>Employee Tracker</h1>
                <img src="~/Content/images/loading-bars.svg" width="64" height="64" />
            </div>
        </div>
    </employee-tracker-app>
</body>